@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LondonBetween;
  src: url('../src/assets/LondonBetween.ttf');
}

@font-face {
  font-family: CoffeeHealing;
  src: url('../src/assets/CoffeeHealing-1GrKe.ttf');
}